*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1280px;
}

input {
  padding: 8px;
  outline: none;
  border: none;
}